
{% extends "layout.html" %}
{% block title %}TABLE - {{tablename}} {% endblock %}
{% block body %}

<h3 id="table_name" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{querylist}}">{{tablename}}</h3>
<div class="container-fluid">
<table class="table table-hover">
        <thead>
            <tr>
            {% for i in columns_in_this_table %}
                <th>{{i}}</th>
            {%endfor%}
            </tr>
        </thead>
        <tbody>
            {% for atuble in listoflists %}
                <tr>
                   {% for j in atuble %} 
                    <td>{{ j  }}</td>

                    {% endfor %}
                    {%if tablename  != "Custom query"%}
                      <td style="width:10%">
                
                              <form action="/deregister" method="post">
                              <input  name=table value={{ tablename }} type="hidden">
                              <input  name=column value={{ columns_in_this_table[0] }} type="hidden">
                              <input  name=value value={{ atuble[0] }} type="hidden">
                              <input  onclick=sayHello() type="submit" class="btn btn-danger" value="Delete row">
                              </form>
                      </td>
		{% endif %}
                </tr>
            {% endfor %}
        </tbody>

</table>
</div>
{% endblock %}
